<?xml version="1.0" ?>
<launch>
	<arg name="challenge_config" default="$(find fbot_speech)/config/fbot_stt_quiz.yaml"/>

	<node name="speech_recognizer" pkg="fbot_speech" type="speech_recognizer.py" output="screen">
		<rosparam file="$(find fbot_speech)/config/ros.yaml" command="load"/>
		<rosparam  file="$(arg challenge_config)" command="load"/>
	</node>
</launch>